<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EyesCare.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EyesCare.Properties.Settings>
            <setting name="LongBreak" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LongBreakTime" serializeAs="String">
                <value />
            </setting>
            <setting name="LongBreakRestTime" serializeAs="String">
                <value />
            </setting>
            <setting name="ShortBreak" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShortBreakTime" serializeAs="String">
                <value />
            </setting>
            <setting name="ShortBreakRestTime" serializeAs="String">
                <value />
            </setting>
            <setting name="PreventClose" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartWithWin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DetectIDLE" serializeAs="String">
                <value>True</value>
            </setting>
        </EyesCare.Properties.Settings>
    </userSettings>
</configuration>